<div class="row">
  <div class="col-2" *ngFor="let member of members">
    <!-- <p *ngFor="let member of members">{{ member.knownAs }}</p> -->
    <app-member-card [member]="member"></app-member-card>
  </div>
</div>
<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination
    [boundaryLinks]="showBoundaryLinks"
    [directionLinks]="showDirectionLinks"
    [totalItems]="contentArray.length"
    [itemsPerPage]="5"
    (pageChanged)="pageChanged($event)"
  ></pagination>
</div>
